<link rel="stylesheet" href="../css/details.css">
<div class="box">
<div class="boxBorder">
  <div class="cardBox">
    <div class="card-img">
     <img src={{coctail.img}}  class="fotoCoctel" alt="...">
    </div>

    <div class="boxForText">
     <h5 class="nameCards"><b>{{coctail.title}}</b></h5>
       <b><h5 class="nameCards">{{coctail.titleEng}}</h5></b> 
        
        <ul class="group ">
           {{#each coctail.filters}}
      <li class="lis">{{this}}</li>
      {{/each}}
     </ul>

      <p class="card-Ingredients">
         <b>Необходимые ингредиенты: </b>
        <ul class="group ">
      {{#each coctail.ingredients}}
      <li class="lis">{{this}}</li>
      {{/each}}
         </ul>
      </p>
      <p class="card-recipe"><b>Рецепт: </b> {{coctail.recipe}}</p>
    </div>
    </div>
  </div>
</div>
</div>
