<script defer src="js/preview.js"></script>





<form id="serchTitle" method = "PUT" action = "/preview/choosen">
  <input type="text" name="name" id="serch" placeholder="Введите название коктеля">
 <button type="submit" class="btn btn-warning">Поиск</button>
</form>

<div class="cardBox">
  {{#each allCocktall}}
  <div class="card" style="width: 19em;">
    <img src={{this.img}} class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{this.title}}</h5>
    </div>
    <ul class="list-group  list-group-flush">
      <li class="list-group-item">{{this.filters}}</li>
      <li class="list-group-item">{{this.titleEng}}</li>
    </ul>
    <div class="card-body">

      <button type="button" class="btn btn-warning about">
        <a href="/preview/{{this.id}}" class="card-link about" style="color: #343a40ab;">Подробнее</a></button>


      <div class="input-group mb-3">
        <form id="value" action="/preview/order/{{this.id}}" method="POST" data-id="{{this.id}}">
        <input type="text" class="form-control" placeholder="Колличество" aria-label="Recipient's username"
          aria-describedby="basic-addon2" name="name">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary btn-warning" type="submit">Button</button>
          </form>
        </div>



      </div>

    </div>
  </div>
  {{/each}}
</div>
